:root {
  --auth0-txt-background-1: #000000;
  --auth0-txt-background-2: #ECE8E4;
  --auth0-txt-background-3: #9921FE;
  --auth0-txt-background-4: #FBFBFA;
  --auth0-accentuate-1: #20003A;
  --auth0-accentuate-2: #490186;
  --auth0-accentuate-3: #BC6DFF;
  --auth0-accentuate-4: #EBD3FF;
  --auth0-accentuate-5: #FF6217;
  --auth0-accentuate-6: #FF9665;
  --auth0-links: #490186;
}
